In [19]:
import pandas as pd
import numpy as np

In [20]:
import pandas as pd
import numpy as np
# save filepath to variable for easier access
forecast_path = pd.read_csv(r'C:\Users\User\OneDrive\Pulpit\zadanie rekrutacyjne\jena_climate_2009_2016.csv')

In [32]:
# read the data and store data in DataFrame titled prognoza_data
forecast_data = forecast_path

forecast_data.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420551 entries, 0 to 420550
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date Time        420551 non-null  int64
 1   p (mbar)         420551 non-null  float64
 2   T (degC)         420551 non-null  float64
 3   Tdew (degC)      420551 non-null  float64
 4   rh (%)           420551 non-null  float64
 5   VPmax (mbar)     420551 non-null  float64
 6   VPact (mbar)     420551 non-null  float64
 7   VPdef (mbar)     420551 non-null  float64
 8   sh (g/kg)        420551 non-null  float64
 9   H2OC (mmol/mol)  420551 non-null  float64
 10  rho (g/m**3)     420551 non-null  float64
 11  wv (m/s)         420551 non-null  float64
 12  max. wv (m/s)    420551 non-null  float64
 13  wd (deg)         420551 non-null  float64
dtypes: float64(13), int64(1)
memory usage: 44.9 MB

In [33]:
#Date Time ma NIEODPOWIEDNI format, należy go zrzutować na format daty
import datetime as dt
from pandas import DataFrame



forecast_data['Date Time'] = pd.to_datetime(forecast_data['Date Time'])
forecast_data['Date Time']=forecast_data['Date Time'].map(dt.datetime.toordinal)

# Podgląd wskazuje, że rzutowanie przebiegło pomyślnie
print(forecast_data['Date Time'])

0         719163
1         719163
2         719163
3         719163
4         719163
           ...
420546    719163
420547    719163
420548    719163
420549    719163
420550    719163
Name: Date Time, Length: 420551, dtype: int64

In [23]:
#sprawdzanie czy nie ma brakujących danych

missing_values_count = forecast_data.isnull().sum()
# get the number of missing data points per column
missing_values_count[0:len(forecast_data.columns)]

Date Time          0
p (mbar)           0
T (degC)           0
Tpot (K)           0
Tdew (degC)        0
rh (%)             0
VPmax (mbar)       0
VPact (mbar)       0
VPdef (mbar)       0
sh (g/kg)          0
H2OC (mmol/mol)    0
rho (g/m**3)       0
wv (m/s)           0
max. wv (m/s)      0
wd (deg)           0
dtype: int64

In [6]:
#jak widać nie ma brakujących danych, więc nie jest konieczne uzupełnianie zmiennymi bądź usuwanie danych z pliku

In [24]:
# Tworzenie opisu danych
forecast_data.describe()

,Date Time,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
count,420551.000000,420551.000000,420551.000000,420551.000000,420551.000000,420551.000000,420551.000000,420551.000000,420551.000000,420551.000000,420551.000000,420551.000000,420551.000000,420551.000000,420551.000000
mean,734866.712539,989.212776,9.450147,283.492743,4.955854,76.008259,13.576251,9.533756,4.042412,6.022408,9.640223,1216.062748,1.702224,3.056555,174.743738
std,842.737876,8.358481,8.423365,8.504471,6.730674,16.476175,7.739020,4.184164,4.896851,2.656139,4.235395,39.975208,65.446714,69.016932,86.681693
min,733408.000000,913.600000,-23.010000,250.600000,-25.010000,12.950000,0.950000,0.790000,0.000000,0.500000,0.800000,1059.450000,-9999.000000,-9999.000000,0.000000
25%,734137.000000,984.200000,3.360000,277.430000,0.240000,65.210000,7.780000,6.210000,0.870000,3.920000,6.290000,1187.490000,0.990000,1.760000,124.900000
50%,734867.000000,989.580000,9.420000,283.470000,5.220000,79.300000,11.820000,8.860000,2.190000,5.590000,8.960000,1213.790000,1.760000,2.960000,198.100000
75%,735596.000000,994.720000,15.470000,289.530000,10.070000,89.400000,17.600000,12.350000,5.300000,7.800000,12.490000,1242.770000,2.860000,4.740000,234.100000
max,736330.000000,1015.350000,37.280000,311.340000,23.110000,100.000000,63.770000,28.320000,46.010000,18.130000,28.820000,1393.540000,28.490000,23.500000,360.000000

In [8]:
# Interpretacja Danych
# Resultatem describe() jest pokazanie ośmiu liczb dla każdej z oryginalnych kolumn.

In [25]:
forecast_data.columns

Index(['Date Time', 'p (mbar)', 'T (degC)', 'Tpot (K)', 'Tdew (degC)',
       'rh (%)', 'VPmax (mbar)', 'VPact (mbar)', 'VPdef (mbar)', 'sh (g/kg)',
       'H2OC (mmol/mol)', 'rho (g/m**3)', 'wv (m/s)', 'max. wv (m/s)',
       'wd (deg)'],
      dtype='object')

In [10]:
# Plik posiada 16 kolumn które przechowują różne wartości fizyczne, niekonieczne niezbędne do stworzenia modelu prognozy pogody

In [11]:
# Na przykład: Kolumna 'Tpot (K)' jest temperaturą podaną w kelvinach. 
# Takie dane nie są potrzebne do wyznaczonego modelu, zatem zostaną usunięte.

In [26]:
forecast_data.drop('Tpot (K)', axis='columns',inplace=True)

In [13]:
# Następnie usuwam dane które mają wysoką kardynalność
# wczesniej jednak tworzę kopię obiektu i na nim wykonuję operację

forecast_data.drop(columns=['Date Time', 'p (mbar)', 'T (degC)', 'Tdew (degC)','rh (%)', 
                                 'VPmax (mbar)', 'VPact (mbar)', 'VPdef (mbar)', 'sh (g/kg)',
       'H2OC (mmol/mol)', 'rho (g/m**3)', 'wv (m/s)', 'max. wv (m/s)',
       'wd (deg)'], axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[420551 rows x 0 columns]

In [14]:
# Tak przygotowane dane można użyć do stworzenia modelu prognozy pogody

In [29]:
# Ustalanie Targetu
 
y = forecast_data['T (degC)']
# Ustalanie Feature


X = forecast_data[['Date Time', 'p (mbar)', 'Tdew (degC)','rh (%)', 
                                 'VPmax (mbar)', 'VPact (mbar)', 'VPdef (mbar)', 'sh (g/kg)',
       'H2OC (mmol/mol)', 'rho (g/m**3)', 'wv (m/s)', 'max. wv (m/s)',
       'wd (deg)']]

In [30]:
# import Split Data do dokładniejszego treningu
from sklearn.model_selection import train_test_split
# podział danych jest konieczny. Należy podzielić dane na treningowe i validacyjne i na nich osobno stworzyć modele do porównania 
# MAE
train_X, val_X, train_y, val_y = train_test_split(X, y,random_state = 0)
#sprawdzanie czy dane treningowe zgadzają się z danymi validacyjnymi
print('train_X: ',train_X.shape)
print('val_X: ', val_X.shape)
print('train_y: ',train_y.shape)
print('val_y: ', val_y.shape)

train_X:  (315413, 13)
val_X:  (105138, 13)
train_y:  (315413,)
val_y:  (105138,)

In [17]:
# import Modelu Random Forest Regressor 
#import Mean Absolute Error

#from sklearn.metrics import mean_absolute_error
#from sklearn.linear_model import LinearRegression
#from sklearn.pipeline import make_pipeline
#from sklearn.preprocessing import StandardScaler

#lm = make_pipeline(
 #   StandardScaler(),
  #  LinearRegression(),
#)
#lm.fit(train_X, train_y)

In [31]:
#Tworzenie modelu
from sklearn.ensemble import RandomForestRegressor
forecast_model = RandomForestRegressor(random_state=1)

forecast_model.fit(train_X, train_y)
#forecast_predictions = forest_model.predict(val_X)

RandomForestRegressor(random_state=1)

In [36]:
forecast_predictions = forecast_model.predict(val_X)

In [39]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(val_y, forecast_predictions))

0.002884268295013118

In [46]:
forecast_model.predict(val_X.iloc[[1000]])
val_y.iloc[[1000]]

8505    4.88
Name: T (degC), dtype: float64